@model List<Vaccination>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/assets/fontawesome/all.js" crossorigin="anonymous"></script>

    <link href="~/css2/style.min.css" rel="stylesheet" />
    <link href="~/css2/styles.css" rel="stylesheet" />
    <script src="~/assets/fontawesome/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="mt-4">Vaccination management</h1>
    <div class="breadcrumb mb-4 d-flex flex-row justify-content-between align-items-center">
        <div class="breadcrumb-item active">Easy to manage vaccinations!!</div>
        <a class="btn btn-outline-success" asp-action="Create"><i class="fa-solid fa-plus"></i> Create new vaccination</a>
    </div>
    @*<div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Post table
        </div>
        @Html.ActionLink("")
        @Html.Grid()
    </div>*@
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Category table
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Vaccination code</th>
                        <th>Citizen</th>
                        <th>FirstInjectDay</th>
                        <th>SecondInjectRegisterDay</th>
                        <th>Status</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Vaccination code</th>
                        <th>Citizen</th>
                        <th>FirstInjectDay</th>
                        <th>SecondInjectRegisterDay</th>
                        <th>Status</th>
                        <th data-sortable="false"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].VaccinationCode</td>
                            <td>@Model[i].Citizen?.Name</td>
                            <td>@Model[i].FirstInjectDay</td>
                            <td>@Model[i].SecondInjectRegisterDay</td>
                            <td>@Model[i].Status</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@Model[i].VaccinationCode"><i class="fa-solid fa-circle-info"></i></a>
                                <a asp-action="Edit" asp-route-id="@Model[i].VaccinationCode"><i class="fa-solid fa-pen-to-square text-warning"></i></a>
                                <a asp-action="Delete" asp-route-id="@Model[i].VaccinationCode"><i class="fa-solid fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/assets/demo/simple-datatables.min.js"></script>
    <script src="~/js/datatables-simple-demo.js"></script>

</body>
</html>